<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!-- <meta content="yes" name="apple-mobile-web-app-capable" /> -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<%= stylesheet_link_tag 'iWebKitStyle', :plugin => 'redmine_equipment_status_viewer' %>
<%= javascript_include_tag 'iWebKitFunctions', :plugin => 'redmine_equipment_status_viewer' %>
<title>Check in complete</title>
</head>

<body>

<!--
<div id="topbar">
  <div id="title">Checked in <%#=h @equipment_asset.name %></div>
</div>
-->
<div id="content">
  <span class="graytitle">Checked in!</span>
  <ul class="pageitem">
    <li class="textbox">
      <span class="header">Successfully checked in <%= @equipment_asset.name.capitalize %></span>
      <p>You have checked in <%= @equipment_asset.name.capitalize %> to <%=h @asset_check_in.location %>.</p>
      <% if @equipment_asset.oos %>
        <p style="color: red;"><%=h @equipment_asset.name.capitalize %> is <strong>out of service</strong>!</p>
      <% end %>
    </li>
  </ul>
</div>
<div id="footer">
	<!-- Support iWebKit by sending us traffic; please keep this footer on your page, consider it a thank you for our work :-) -->
	<a class="noeffect" href="http://iwebkit.net">Powered by iWebKit</a></div>

</body>

</html>
