<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Check in for <%=h @equipment_asset.name %> - Locations</title>
<!-- <meta content="yes" name="apple-mobile-web-app-capable" /> -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<%= stylesheet_link_tag 'iWebKitStyle', :plugin => 'redmine_equipment_status_viewer' %>
<%= javascript_include_tag 'iWebKitFunctions', :plugin => 'redmine_equipment_status_viewer' %>
<script type="text/javascript">
  function doneButtonClicked() {
    document.getElementById("new_asset_check_in").submit();
    return false;
  }
</script>
</head>

<body class="list">

<div id="topbar">
  <div id="title">Pick Location</div>
  <div id="bluerightbutton">
    <a href="javascript:doneButtonClicked();">Done</a>
  </div>
</div>

<div class="searchbox">
  <% form_tag(loclist_equipment_asset_asset_check_ins_path([@equipment_asset]), :method => :get) do %>
    <%= hidden_field_tag :person, @asset_check_in.person %>
    <%= text_field_tag :query, @query, :placeholder => "Search / New Location" %>
    <%= hidden_field_tag :submit %>
  <% end %>
</div>

<div id="content">
  <% form_for([@equipment_asset, @asset_check_in], :url => { :action => 'new' }) do |f| %>
  <%= f.hidden_field :person %>
  <%= f.hidden_field :location %>
  <%#= f.error_messages :class => 'graytitle',
    :header_message => "Oops - We couldn't check in!",
    :message => "The following fields were a bit of a problem:",
    :header_tag => :span %>
  <ul>
    <% @locations.each do |value| %>
      <li class="radiobutton">
        <span class="name"><%=h value %></span>
        <%= f.radio_button :location, value %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div id="footer">
	<!-- Support iWebKit by sending us traffic; please keep this footer on your page, consider it a thank you for our work :-) -->
	<a class="noeffect" href="http://iwebkit.net">Powered by iWebKit</a></div>

  </body>
</html>
