<p>
  <label><%=l :assets_grouped_by %></label>
  <%= select_tag 'settings[assets_grouped_by]', options_for_select([
    ["None", "none"],
    ["Type", "asset_type"],
    ["Location", "location"]
  ], Setting.plugin_redmine_equipment_status_viewer['assets_grouped_by']) %>
</p>
<p>
  <label><%=l :use_bitly %></label>
  <%= checkbox_tag 'settings[use_bitly]', Setting.plugin_redmine_equipment_status_viewer('use_bitly') %>
</p>
